div.div-1  {
    background-color: #0BBCEE;
    height: 100px;
    margin: auto;
    padding-left: 10px;
    padding-top: 5px;
    border;
    font-weight: bold;

}
div.div-2 {
    background-color: chartreuse;
}